*{
    margin:0;
    padding: 0;
}

body{
    background-color: whitesmoke
}
nav{
    background-color: rgb(236, 234, 234);
    display: flex;
    padding: 10px;
    box-shadow: #ccc 0px 0px 10px;
}
.first-section p{
    color: #55186f;
    font-weight: bold;  
}

.first-section .ACME{
    color:rgb(236, 229, 229);
    background-color:#702692 ;
    margin: 5px;
    padding:5px;
    border-radius: 5px;
    font-weight: semibold;
}

.middle-section input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    text-align: center;
    margin-left: 80px;
}

.middle-section i {
    padding: 10px;
    color: rgb(178, 184, 178);
    min-width: 50px;
    margin-left: 80px;
    text-align: right;
    position: absolute;
}

.left-p{
    font-weight: 300;
    margin-left: 40px;
}

.left-section ul{
    display: flex;
    position: absolute;
    list-style: none;
    margin-left: 80px;
    color: #55186f;
}
.left-section ul li {
    color: black;
    font-size: 20px;
    background-color: #f0edf1;
    margin-left: 20px;
    padding-left: 20px;
}

.left-section img{
    height: 20px;
    width: 20px;
    margin-left: 40px;
    border-radius: 50%;
}

.sidebar{
    background-color: #55186f;
    width: 100px;
    height: 100vh;
    position: fixed;
    top: 65px;
    left: 0;
}

.sidebar span p{
    color: rgb(231, 223, 223);
    font-size: 12px;
    margin-left: 20px;
    padding: 10px;
}
.sidebar i{
    color: rgb(238, 232, 232);
    font-size: 20px;
    margin-left: 20px;
    padding: 10px;
}

.sidebar span {
    background-color: #55186f;
    display: block;
    padding: 10px;
    margin: 5px 0;
    margin-bottom: 0;
}
.content{
    margin-left: 100px;
    margin-top: 15px;
    background-color: #8cbed6;
    height: 100vh;
    width: 150px;
    position: fixed;
}
.sidebar .unique{
    background-color:#8CBED6 ;
    padding: 20px;
    bottom: 10px;
}
.content ul{
    list-style-type: none;
}
.content li{
    padding:10px;
}
.content ul li.dashboard{
    background-color: #55186f;
}

li{
    -webkit-text-fill-color: rgb(0, 0, 0);
}
button{
    background-color: rgb(44, 8, 92);
    height: 30px;
    width: 80px;
}
.dashboard{
    margin-left: 23%;
    margin-top: 5%;
}
.link{
    padding: 10px;
}

.ee{
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 300px;
    position: fixed;
    top: 65px;
    margin-inline-start: 300px;
    margin-block-start: 100px;
}
.linkdin{
    padding: 20px;
      
}
.airswft{
    padding: 20px;    
}
.google{
    padding: 20px;    
}
.slack{
    padding: 20px;    
}
.fa-th{
    margin-left: 700px;
}
/*/.fa-pencil{
    margin-left: 400px;
}*/
.dash{
    background-color: rgb(44, 8, 92);
    color: white;
    -webkit-text-fill-color: white;
}

.r{margin-left: 450px;

}
.p{
    margin-left: 38px;
}
.r{
    margin-left: 200px;
}
.s{
    margin-left: 300px;