.aaa{
    background-color: rgb(20, 27, 27);
    width: 1300px;
    height: 700px;
    margin-left: 100px;
    margin-top: -0px;
}
.ik{
    margin-left: 1200px;
    margin-top: -170px;
    font-size: 60px;
    color: aliceblue;
}
.ki{
    margin-left: 700px;
    color: aliceblue;
    margin-top: -75px;
    font-size: 80px;
}
.it{
    margin-left: 930px;
    color: aliceblue;
    font-size: 60px;
    margin-top: -75px;
}
.io{
    margin-top: -75px;
    margin-left: 420px;
    color: aliceblue;
    font-size: 80px;
}
.sis{
    margin-left: 200px;
    color: aliceblue;
    font-size: 80px;
    margin-top: -90px;
}
.uo{
    margin-left: 1200px;
    color: crimson;
    font-size: 30px;
    margin-top: -30px;
}
.explo{
    margin-left: 920px;
    margin-top: -50px;
    font-size: 30px;
    color: aliceblue;
}
.exploo{
    margin-left: 390px;
    margin-top: -60px;
    font-size: 30px;
    color: aliceblue;
}
.xploo{
    margin-left: 200px;
    margin-top: -60px;
    color: aliceblue;
    font-size: 30px;
}
.looi{
    margin-top: -650px;
    margin-left: 600px;
    width: 100px;
    border-radius: 10px;
}
.xn{
    margin-left: 210px;
    margin-top: -60px;
    color: aliceblue;
    font-size: 60px;
}
.he{
    margin-left: 210px;
    margin-top: -160px;
    color: aliceblue;
    font-size: 80px;
}
.heis{
    margin-top: -170px;
    margin-left: 220px;
    color: aliceblue;
    font-size: 50px;
}
.iii{
    margin-left: 210px;
    margin-top: -150px;
    color: aliceblue;
    font-size: 60px;
}
.lll{
    margin-top: -150px;
    margin-left: 210px;
    color: brown;
    font-size: 60px;
}
.lolo{
margin-left: 950px;
margin-top: -150px;
font-size: 20px;
color: aqua;
}
.style