h2{
    background-color:green;
    color: white; 
    padding: 30px;
    position: sticky;
    top:0;
}
.scroll-to-top{
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px;
    background-color: black;
    color: white;
}